name: CI

on: [push]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Maven cache
        uses: actions/cache@v2
        with:
          path: /root/.m2/repository
          key: ${{ env.cache-name }}-maven-${{ hashFiles('project.clj') }}
          restore-keys: |
            ${{ env.cache-name }}-maven-

      - name: Run tests
        run: lein test

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install clj-kondo
        run: |
          curl -sLO https://raw.githubusercontent.com/borkdude/clj-kondo/master/script/install-clj-kondo
          chmod +x install-clj-kondo
          sudo ./install-clj-kondo

      - name: Lint the source directory
        run: clj-kondo --lint src/

      - name: Lint the test directory
        run: clj-kondo --lint test/

  check-formatting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Run cljfmt check
        run: lein cljfmt check
